<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./sass/style.scss" />
    <title>market</title>
  </head>
  <body>
    
    <img src="./image/bg.jpg" alt="#" class="z_index_img" />
    <div class="search_block">
      <h2>Поиск по каталогу</h2>
      <input type="text">
      <button> Найти</button>
    </div>
    <div class="bg_block"></div>
    <nav>
      <div class="container_nav">
        <div class="burg_menu">
          <img src="./icon/134216_menu_lines_hamburger_icon.png" alt="">
        </div>
        <div class="two_block_in_cont_nav first">
          <div class="six_block_on_top">
            <a href="./HomePage.html">Главная</a>
          </div>
          <div class="six_block_on_top">
            <a href="./Catalog.html">Каталог автозапчастей</a>
          </div>
          <div class="six_block_on_top ">
            <a href="./deliveryPage.html">Доставка</a>
          </div>
          <div class="six_block_on_top">
            <a href="./PayPage.html">Оплата</a>
          </div>
          <div class="six_block_on_top">
            <a href="./CallBackPage.html">Обратная связь</a>
          </div>
          <div class="six_block_on_top first_hov_block"><a href="./Contact.html">Контакты</a></div>
        </div>
        <div class="two_block_in_cont_nav second">
          <div class="two_block_log_and_reg log1">
            <img src="./icon/3671785_key_icon.png" alt="" />
            <p>Вход</p>
          </div>
          <div class="two_block_log_and_reg">
            <a href="./registration.html"> <img src="./icon/signup-icon-29.jpg" alt="" />
              <p>Регистрация</p></a>
          </div>
          <div class="two_block_log_and_reg log1 searc_log">
            <img src="./icon/211817_search_strong_icon.png" alt="" />
            <p>Поиск по каталогу</p>
          </div>
        </div>
      </div>
      <div class="two_block_in_cont_nav first1">
        <div class="six_block_on_top">
          <a href="./HomePage.html">Главная</a>
        </div>
        <div class="six_block_on_top">
          <a href="./Catalog.html">Каталог автозапчастей</a>
        </div>
        <div class="six_block_on_top ">
          <a href="./deliveryPage.html">Доставка</a>
        </div>
        <div class="six_block_on_top">
          <a href="./PayPage.html">Оплата</a>
        </div>
        <div class="six_block_on_top">
          <a href="./CallBackPage.html">Обратная связь</a>
        </div>
        <div class="six_block_on_top first_hov_block"><a href="./Contact.html">Контакты</a></div>
      </div>
    </nav>
    <header>
      <div class="header_container">
        <div class="three_block_in_header_cont first_block_in_header_cont">
          <div>
            <img
            src="./image/new_logo-removebg-preview.png"
            alt=""
          />
          </div>
          <div>
            <h2>Продажа автозапчастей</h2>
            <p>с хххх года</p>
          </div>
        </div>
        <div class="three_block_in_header_cont second_block_in_header_cont">
          <p class="catalog_search">Поиск по каталогу</p>
          <div class="flex_div">
            <input type="text" />
            <button>
              <img src="./icon/211817_search_strong_icon.png" alt="" />
              <p>Найти</p>
            </button>
          </div>
          <div class="div_phone"><p class="phone_number">(999)ххх-хх-хх</p>
            <p class="phone_number">(999)ххх-хх-хх</p></div>
          
        </div>
        <div class="three_block_in_header_cont third_block_in_header_cont">
          <div class="two_block_in_header_cont one_block">
            <p >(999)ххх-хх-хх</p>
            <p >(999)ххх-хх-хх</p>
            
          </div>
          <div class="two_block_in_header_cont second_header_cont">
            <p class="display">Каталог</p>
            <div class="img_and_text">
              <img src="./icon/186387_cart_shopping_icon.png" alt="" />
            </div>
            <div class="img_and_text">
              <div class="cart_blocks">
                <span>товаров</span> <span class="quantity one">0</span>
              </div>
              <div class="cart_blocks">
                <span>на</span> <span class="quantity two">0</span>
                <span>Р</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="two_flex_block_in_container first_flex_block_in_container">
        <div class="div_for_text">
          <p>Скачать общий прайс</p>
          <p>(04 апреля 2022г)</p>
        </div>
        <div class="div_for_aside_blocks">
           
          
        </div>
      </div>
      <div
        class="two_flex_block_in_container second_flex_block_in_container second_page_flex_block"
      >
      <div class="box_block"></div>
        <div class="three_block_grid_and_info">
          <a href="./HomePage.html">Главная</a> <span>/</span>
          <a href="./Contact.html"> Контакты</a>
          <h2>Контакты</h2>
        </div>
        <div class="three_block_grid_and_info">
          <div class="six_block_from_contact">
            <h2>Координаты для gps-навигаторов</h2>
            <p>55.703744, 37.358596</p>
          </div>
          <div class="six_block_from_contact">
            <h2>Адрес магазина</h2>
            <p>
              Московская область, Одинцовский район, рабочий посёлок
              Новоивановский, ул. Агрохимиков, д. 6
            </p>
            <p>
              Телефон: <a href="#"> +7 (925) 517-04-59</a> ,
              <a href="#"> +7 (925) 792-04-59 </a>
            </p>
            <p>E-mail <a href="#">mail@avto-opt.ru</a></p>
          </div>
        
          <div class="six_block_from_contact"><h2>Проезд</h2>
        <a href="#" class="way">«ООО Автоопт» на Яндекс.Картах</a>
            <p>Можайское шоссе 1,5 км. от МКАД в сторону области, разворот на Сколковской эстакаде, далее за мебельным центром "Три кита" повернуть на право (перед Автозаправкой BP) прямо через 100 метров с левой стороны желтая вывеска "Автозапчасти" 

            </p>
            <button class="bank_rek">Банковские реквизиты</button>
    </div>
       
          
        </div>
        <div class="three_block_grid_and_info"></div>
      </div>
    </div>
    <footer>
      <div class="footer_container">
        <div class="four_block_in_footer first_footer_block">
          <a href="./HomePage.html"><img
            src="./image/new_logo-removebg-preview.png"
            alt=""
          /></a>
         
          <h2>продажа автозапчастей</h2>
          
        </div>
        <div class="four_block_in_footer second_footer_block">
          <p class="phones">Телефоны</p>
          <p>(999)xxx-xx-xx</p>
          <p>(999)xxx-xx-xx</p>
          <button class="call_me">Перезвоните мне</button>
        </div>
        <div class="four_block_in_footer third_footer_block">
          <p class="contacts">Контакты</p>
          <a href="#">
            самарканд, хххххххх <br />
            хххххх, хххххххххх, хх 26 хххххххх ххххххх</a
          >
       
        </div>
        <div class="four_block_in_footer fourth_footer_block">
          <div class="six_block_in_footer"><a href="./HomePage.html">Главная</a></div>
        <div class="six_block_in_footer"><a href="./Catalog.html">Каталог автозапчастей</a></div>
        <div class="six_block_in_footer"><a href="./deliveryPage.html">доставка</a></div>
        <div class="six_block_in_footer"><a href="./PayPage.html">оплата</a></div>
        <div class="six_block_in_footer"><a href="./CallBackPage.html">Обратная связь</a></div>
        <div class="six_block_in_footer"><a href="./Contact.html">Контакты</a></div>
        </div>
      </div>
    </footer>
    <div class="log_in_div">
      <h2>  Вход на сайт</h2>
      <div class="div">
      <div class="div_for_form height "><p>Логин</p>
      <p >Пароль</p></div>
      <div class="div_for_form"> <form action="#">
        <input type="text">
        <input type="password">
        <button>Войти</button>

      </form></div> </div>
     <div class="div_button_for_style"> <button><a href="#">Регистрация</a></button> <button class="retail"> Забыли пароль? </button></div>
     <img src="./icon/211651_close_round_icon.png" alt="#" class="close">
    </div>
    <div class=" one_div">
      <h2> Забыли пароль?</h2>
      <div class="div">
      <div class="div_for_form height "><p>Логин</p>
      </div>
      <div class="div_for_form"> <form action="#">
        <input type="email">
        
        <button>отправить</button>

      </form></div> </div>
   
     <img src="./icon/211651_close_round_icon.png" alt="#" class="close1">
    </div>
    <div class="blur_bg"></div>
    <div class="blur_bg1"></div>
    <script src="./js/index.js"></script>
  </body>
</html>
