{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'sass/style.scss' %}" />
    <title>market</title>
  </head>

  <body>
    <img src="{% static 'image/bg.jpg' %}" alt="#" class="z_index_img" />
    <div class="search_block">
      <h2>Поиск по каталогу</h2>
      <input type="text">
      <button> Найти</button>
    </div>
    <div class="bg_block"></div>
    <nav>
      <div class="container_nav">
        <div class="burg_menu">
          <img src="{% static 'icon/134216_menu_lines_hamburger_icon.png' %}" alt="" />
        </div>
        <div class="two_block_in_cont_nav first">
          <div class="six_block_on_top first_hov_block">
            <a href="{% url 'home' %}">Главная</a>
          </div>
          <div class="six_block_on_top">
            <a href="{% url 'catalog' %}">Каталог автозапчастей</a>
          </div>
          <div class="six_block_on_top">
            <a href="{% url 'delivery' %}">Доставка</a>
          </div>
          <div class="six_block_on_top">
            <a href="{% url 'pay_page' %}">Оплата</a>
          </div>
          <div class="six_block_on_top">
            <a href="{% url 'feedback' %}">Обратная связь</a>
          </div>
          <div class="six_block_on_top">
            <a href="{% url 'contact' %}">Контакты</a>
          </div>
        </div>
        <div class="two_block_in_cont_nav second">
          <div class="two_block_log_and_reg log1">
            <img src="{% static 'icon/3671785_key_icon.png' %}" alt="" />
            <p>Вход</p>
          </div>
          <div class="two_block_log_and_reg">
            <a href="./registration.html">
              <img src="{% static 'icon/signup-icon-29.jpg' %}" alt="" />
              <p>Регистрация</p></a
            >
          </div>
          <div class="two_block_log_and_reg log1 searc_log">
            <img src="{% static 'icon/211817_search_strong_icon.png' %}" alt="" />
            <p>Поиск по каталогу</p>
          </div>
        </div>
      </div>
      <div class="two_block_in_cont_nav first1">
        <div class="six_block_on_top">
          <a href="{% url 'home' %}">Главная</a>
        </div>
        <div class="six_block_on_top">
          <a href="{% url 'catalog' %}">Каталог автозапчастей</a>
        </div>
        <div class="six_block_on_top">
          <a href="{% url 'delivery' %}">Доставка</a>
        </div>
        <div class="six_block_on_top">
          <a href="{% url 'pay_page' %}">Оплата</a>
        </div>
        <div class="six_block_on_top">
          <a href="{% url 'home' %}">Обратная связь</a>
        </div>
        <div class="six_block_on_top first_hov_block">
          <a href="{% url 'contact' %}">Контакты</a>
        </div>
      </div>
    </nav>
    <header>
      <div class="header_container">
        <div class="three_block_in_header_cont first_block_in_header_cont">
          <div>
            <img
              src="{% static 'image/new_logo-removebg-preview.png' %}"
              alt=""
            />
          </div>
          <div>
            <h2>Продажа автозапчастей</h2>
            <p>с хххх года</p>
          </div>
        </div>
        <div class="three_block_in_header_cont second_block_in_header_cont">
          <p class="catalog_search">Поиск по каталогу</p>
          <div class="flex_div">
            <input type="text" />
            <button>
              <img src="{% static 'icon/211817_search_strong_icon.png' %}" alt="" />
              <p>Найти</p>
            </button>
          </div>
          <div class="div_phone">
            <p class="phone_number">(999)ххх-хх-хх</p>
            <p class="phone_number">(999)ххх-хх-хх</p>
          </div>
        </div>
        <div class="three_block_in_header_cont third_block_in_header_cont">
          <div class="two_block_in_header_cont one_block">
            <p>(999)ххх-хх-хх</p>
            <p>(999)ххх-хх-хх</p>
          </div>
          <div class="two_block_in_header_cont second_header_cont">
            <p class="display">Каталог</p>
            <div class="img_and_text">
              <img src="{% static 'icon/186387_cart_shopping_icon.png' %}" alt="" />
            </div>
            <div class="img_and_text">
              <div class="cart_blocks">
                <span>товаров</span> <span class="quantity one">0</span>
              </div>
              <div class="cart_blocks">
                <span>на</span> <span class="quantity two">0</span>
                <span>Р</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="two_flex_block_in_container first_flex_block_in_container">
        <div class="div_for_text">
          <p>Скачать общий прайс</p>
          <p>(04 апреля 2022г)</p>
        </div>


         <!-- Родитель боковых элементов -->
        <div class="div_for_aside_blocks">
          {% for part in parts %}
          <div class="aside_info_blocks">
            <a href="{% url 'details' part.list_slug %}" class="aa">
              <img src="{{part.image.url}}" alt="">
              <p class="p1p">{{part.list_name}}</p>
              <div class="selector_menu">
                <p>Кузовные детали</p>
                <p>Рулевое управление</p>
                <p>Тормазная система</p>
                <p>Трансмиссия</p>
                <p>Электрооборудование</p>
                <p>устройства вспомогательные</p>
                <p>Двигатель</p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>


        
      </div>
      <div class="two_flex_block_in_container second_flex_block_in_container">
        <div class="container_for_carousel">
          <input
            type="radio"
            name="slider"
            id="slide-1-trigger"
            class="trigger"
            checked
          />
          <label class="btn" for="slide-1-trigger"></label>
          <input
            type="radio"
            name="slider"
            id="slide-2-trigger"
            class="trigger"
          />
          <label class="btn" for="slide-2-trigger"></label>
          <input
            type="radio"
            name="slider"
            id="slide-3-trigger"
            class="trigger"
          />
          <label class="btn" for="slide-3-trigger"></label>
          <input
            type="radio"
            name="slider"
            id="slide-4-trigger"
            class="trigger"
          />
          <label class="btn" for="slide-4-trigger"></label>
          <div class="slide-wrapper">
            <div id="slide-role">
              <div class="slide slide-1"></div>
              <div class="slide slide-2"></div>
              <div class="slide slide-3"></div>
              <div class="slide slide-4"></div>
            </div>
          </div>
        </div>
        <div class="eight_block_from_main">
          <h2>Магазин запчастей "Мир Авто"</h2>
          <p>
            Интернет-магазин автозапчастей предлагает вашему вниманию широкий спектр запасных частей для  различных марок .
          </p>
          <br />
          <b
            >В частности, у нас вы сможете найти запчасти для таких автомобилей, как:</b
          >
          <br />
          <br />
        </div>
        <div class="eight_block_from_main stamp">
          <a href="./VAZ_page.html">
            <div class="four_stamp_block">
              <img src="{% static 'image/lada-logo-1.svg' %}" alt="#" />
              <p>Ваз</p>
            </div>
          </a>
          <a href="./KIA_Page.html">
            <div class="four_stamp_block">
              <img src="{% static 'image/Без названия.png' %}" alt="#" />
              <p>Киа</p>
            </div>
          </a>
          <a href="./Renault_page.html">
            <div class="four_stamp_block">
              <img
                src="{% static 'image/renault-logo-18DB8E9AE7-seeklogo.com.png' %}"
                alt="#"
              />
              <p>Рено</p>
            </div>
          </a>
          <a href="./Chevrolet_page.html">
            <div class="four_stamp_block">
              <img src="{% static 'image/Chevrolet_new_logo.png' %}" alt="#" />
              <p>Шевроле</p>
            </div>
          </a>
        </div>
        <div class="eight_block_from_main">
          <p>
            Основной специализацией нашего магазина является продажа
            авто-запчастей для ВАЗ и других марок автомобилей. У нас вы сможете
            купить оригинальные запчасти или подобрать неоригинальные высокого
            качества. В частности, у нас есть не оригинальные запчасти на ВАЗ
            таких заводов как Челябинск, Набережные Челны, Арат, Ростов,
            Тольятти. Иномарки API,ASAM-SA,RYTSON,NORDEN,AKS.
          </p>

          <b
            >Ассортимент нашего магазина АВТООПТ включает следующие
            автозапчасти:</b
          >
          <span
            >капот, крылья, бампера, фары, автостекла, радиаторы, глушители,
            аккумуляторы BERGA и т.д.</span
          >

          <p>
            Предложенный товар находится в наличии на нашем складе, что делает
            максимально быстрый подбор запчастей.
          </p>

          <p>
            Мы предлагаем оптимальные цены на автозапчасти, как оптом, так и в
            розницу. Также у нас вы можете сделать заказ автозапчастей, если они
            временно отсутствуют в наличии. Помимо непосредственно продажи
            автозапчастей, мы готовы обеспечить ее доставку по указанному Вами
            адресу. Доставка по Москве и Московской области осуществляется
            силами нашей компании, а доставка по всей России – любым удобным для
            Вас способом – курьерскими службами, различными
            транспортно-экспедиционными компаниями.
          </p>

          <p>
            Уже более 20 лет мы занимаемся продажей автозапчастей, чтобы сделать
            поиск и покупку необходимых узлов и частей автомобиля максимально
            быстрым и удобным делом! И наш интернет-магазин – лучшее тому
            подтверждение!
          </p>
        </div>
        <br />
        <div class="eight_block_from_main"><h2>Автозапчасти ВАЗ</h2></div>
        <div class="eight_block_from_main info_blocks">
          <div class="two_info_block">
            <img src="{% static 'image/vazmanuf.jpg' %}" alt="#" />
          </div>
          <div class="two_info_block">
            <p>
              Автомобили Волжского автозавода, несмотря на постоянно растущую
              популярность иномарок, все еще остаются самыми востребованными
              автомобилями на российском рынке. Это касается, как старых моделей
              Калина, Приора и Шевроле-Нива,так и новых LADA
              Ларгус,Vesta,DATSUN.
            </p>
            <p>В нашем каталоге автозапчастей на ВАЗ представлены:</p>
            <ul>
              <li>
                <a href="#"
                  >крылья, как некрашеные, так и окрашенные в стандартные
                  ВАЗовские цвета</a
                >
              </li>
              <li><a href="#">капоты(крашенные и не крашенные)</a></li>
              <li><a href="#">бампера (крашенные и некрашеные)</a></li>
              <li><a href="#">глушители</a></li>
              <li><a href="#">подкрылки</a></li>
              <li><a href="#">стекла</a></li>
              <li>полный спектр остальных кузовных автозапчастей</li>
            </ul>
          </div>
        </div>
        <div class="eight_block_from_main">
          <h2>Автозапчасти для иномарок</h2>
        </div>
        <div class="eight_block_from_main info_blocks">
          <div class="two_info_block">
            <img src="{% static 'image/vazmanuf.jpg' %}" alt="#" />
          </div>
          <div class="two_info_block">
            <p>
              В последнее время недорогие народные иномарки, составляют
              конкуренцию советским авто. В связи с этим наша фирма освоила и
              этот сегмент рынка и предлагает вам качественные оригинальные и не
              оригинальные автозапчасти на следующие иномарки:
            </p>
            <ul>
              <li>Renault: Logan и Megane</li>
              <li>Hyundai: Accent, Getz и Elantra</li>
              <li>Daewoo: Matiz и Nexia</li>
              <li>Chevrolet: Lanos, Lacetti и Aveo</li>
            </ul>
          </div>
        </div>
        <div class="eight_block_from_main">
          <p>
            Автозапчасти на Шевроле и другие иномарки, как и запчасти на
            отечественные автомобили реализуются нами по оптимальным ценам. Мы
            продаем автозапчасти на Daewoo, Hyundai, Renault, и т.д. как оптом,
            так и в розницу.
          </p>
          <b>Наши высококвалифицированные консультанты:</b>
          <ul>
            <li>
              помогут Вам с подбором оригинальных и не оригинальных
              автозапчастей
            </li>
            <li>
              расскажут про имеющиеся способы доставки приобретенных запчастей
            </li>
            <li>помогут выбрать самый удобный для вас способ оплаты</li>
            <li>
              посодействуют в быстром и правильном оформлении заказа
              автозапчастей
            </li>
          </ul>
          <p>
            Также у нас вы сможете купить аккумуляторные батареи, тосол и
            антифриз.
          </p>
          <p>
            Мы гарантируем высокое качество имеющихся в нашем каталоге
            неоригинальных автозапчастей на Рено и другие иномарки, так как
            тщательным образом подходим к отбору поставщиков и производителей
            всего ассортиментного ряда автомобильных запчастей и сопутствующих
            материалов.
          </p>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer_container">
        <div class="four_block_in_footer first_footer_block">
          <a href="{% url 'home' %}">
            <img
              src="{% static 'image/new_logo-removebg-preview.png' %}"
              alt=""
            /></a>
          <h2>продажа автозапчастей</h2>
        </div>
        <div class="four_block_in_footer second_footer_block">
          <p class="phones">Телефоны</p>
          <p>(999)xxx-xx-xx</p>
          <p>(999)xxx-xx-xx</p>
          <button class="call_me">Перезвоните мне</button>
        </div>
        <div class="four_block_in_footer third_footer_block">
          <p class="contacts">Контакты</p>
          <a href="#">
            самарканд, хххххххх <br />
            хххххх, хххххххххх, хх 26 хххххххх ххххххх</a
          >
        </div>
        <div class="four_block_in_footer fourth_footer_block">
          <div class="six_block_in_footer">
            <a href="{% url 'home' %}">Главная</a>
          </div>
          <div class="six_block_in_footer">
            <a href="{% url 'catalog' %}">Каталог автозапчастей</a>
          </div>
          <div class="six_block_in_footer">
            <a href="{% url 'delivery' %}">доставка</a>
          </div>
          <div class="six_block_in_footer">
            <a href="{% url 'pay_page' %}">оплата</a>
          </div>
          <div class="six_block_in_footer">
            <a href="{% url 'feedback' %}">Обратная связь</a>
          </div>
          <div class="six_block_in_footer">
            <a href="{% url 'contact' %}">Контакты</a>
          </div>
        </div>
      </div>
    </footer>
    <div class="log_in_div">
      <h2>Вход на сайт</h2>
      <div class="div">
        <div class="div_for_form height">
          <p>Логин</p>
          <p>Пароль</p>
        </div>
        <div class="div_for_form">
          <form action="#">
            <input type="text" />
            <input type="password" />
            <button>Войти</button>
          </form>
        </div>
      </div>
      <div class="div_button_for_style">
        <button><a href="#">Регистрация</a></button>
        <button class="retail">Забыли пароль?</button>
      </div>
      <img src="{% static 'icon/211651_close_round_icon.png' %}" alt="#" class="close" />
    </div>
    <div class="one_div">
      <h2>Забыли пароль?</h2>
      <div class="div">
        <div class="div_for_form height"><p>Логин</p></div>
        <div class="div_for_form">
          <form action="#">
            <input type="email" />

            <button>отправить</button>
          </form>
        </div>
      </div>

      <img src="{% static 'icon/211651_close_round_icon.png' %}" alt="#" class="close1" />
    </div>
    <div class="blur_bg"></div>
    <div class="blur_bg1"></div>
    <script src="./js/index.js"></script>
  </body>
</html>
